body {
  font-family: "Syne", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Header, .Footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #22223b;
  color: #c9ada7;
}

.Footer {
  padding: 0.75rem;
  display: grid;
  place-content: center;
}

.Nav {
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.Nav ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Nav li {
  padding: 1rem;
}

.Nav li:hover, 
.Nav li:focus {
  padding: 1rem;
}

.Nav li a {
  color: #9a8c98;
  text-decoration: none;
}

.Nav li:hover, 
.Nav li:focus, 
.Nav li:hover a, 
.Nav li:focus a  {
  color: #eee;
}

.Nav li:hover a, 
.Nav li:focus a {
  cursor: pointer;
}

.Home, .PageNotFound {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  background-color: #c9ada7;
  color: #4a4e69;
}

.PostFeed{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.PostCard{
  flex-direction: row;
  flex-grow: 1;
  width: 30%;
  margin: 2%;
  padding: 15px;
  background-color: #f2e9e4;
}

.TopRow{
  display: flex;
  justify-content: space-between;
}
